<nav aria-label="breadcrumbs">
  <ol class="breadcrumb mb-1 bg-white">
    <li class="breadcrumb-item"><%= link_to "MyPage",
                 mypage_user_path(current_user) %></li>
    <li class="breadcrumb-item"><%= link_to "Check Lost",
                 td_todos_path %></li>
    <% if todo != nil %>
      <li class="breadcrumb-item"><%= link_to "Edit Todo",
                   edit_td_todo_path(todo) %></li>
    <% end %>
    <li class="breadcrumb-item"><%= title %></li>
  </ol>
</nav>
