<%= render "td/nav", title: "All Comments" %>
<h1 class="mb-3">All Comments in My Class</h1>
<% if @posts&.length == 0 %>
  No comments posted in this class.
<% else %>
  <%= render @posts %>
  <%= paginate @posts %>
<% end %>
