<h2>Self Scoring</h2>
<% if @lessons&.length == 0 %>
No lessons.
<% else %>
  <div class="form-group" data-controller="collapse-persist">
    <%= form_with url: mypage_update_scores_path(@user),
                  method: :get do |f| %>
      <%= render @lessons %>
      <div>
        <%= f.submit "Update your evaluation", class: "btn btn-primary my-3" %>
      </div>
    <% end %>
  </div>
<% end %>
