<nav aria-label="breadcrumbs">
  <ol class="breadcrumb mb-1 bg-white">
    <li class="breadcrumb-item"><%= link_to "MyPage", root_path %></li>
    <li class="breadcrumb-item">[Admin] Projects List</li>
  </ol>
</nav>
