<nav aria-label="breadcrumbs">
  <ol class="breadcrumb mb-1 bg-white">
    <li class="breadcrumb-item"><%= link_to "MyPage",
                 mypage_user_path(current_user) %></li>
    <li class="breadcrumb-item"><%= link_to "Meetings Management",
                 td_meetings_path %></li>
    <% if meeting != nil %>
      <li class="breadcrumb-item"><%= link_to "Edit Meeting",
                   edit_td_meeting_path(meeting) %></li>
    <% end %>
    <li class="breadcrumb-item"><%= title %></li>
  </ol>
</nav>
