<div class="ms-2 btn btn-success">
  <%= link_to "MyPage", mypage_user_path(current_user),
        class: "text-white text-decoration-none" %>
</div>

<div class="text-white">
  <%= current_user.name.presence || "No Name" %>
</div>

<div class="me-2">
  <%= button_to "Sign out", sign_out_path,
        method: :get,
        data: { turbo: false },
        class: "btn btn-danger" %>
</div>
